html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

section {

}

.container {
  @include grid-container;
  max-width: $hd-desktop-width - 240px;
  margin: 0 auto;
  padding: $container-padding;

  @include desktop {
    padding: $container-padding * 1.5;
  }
}


