#{$all-buttons}, .button {
  appearance: none;
  background-color: $primary;
  border: $border-style $border-width $black;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $stack;
  font-size: $body;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $baseline*0.5 $gutter;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:hover {

    background-color: $white;
    color: $black;
  }
  &:active {
    background-color: $white;
    color: $white;
  }
  &:focus {
    outline: none;
    outline-offset: none;
  }
  &.confirm {
    background-color: $positive;
    border-color: $positive;
    &:hover {
  
      background-color: $positive;
      color: $black;
    }
  }
  &.secondary {
    background-color: $white;
    border-color: $black;
    color: $black;
    &:hover {
      background-color: $black;
      border-color: $black;
      color: $white;
    }
  }
}
