$_form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$_form-box-shadow-focus: $_form-box-shadow, 0 0 5px rgba($primary, 0.7);

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $baseline / 2;
  padding: 0;
}

label {
  display: block;
  margin-bottom: $baseline / 2;
}

input,
select,
textarea {
  display: block;
}

#{$all-text-inputs} {
  appearance: none;
  background-color: $white;
  border: $border-width $border-style $black;
  border-radius: 0;
  box-shadow: $_form-box-shadow;
  box-sizing: border-box;
  margin-bottom: $baseline;
  padding: $baseline*0.25;
  transition: border-color $time $time;
  width: 100%;

  &:focus {
    outline: $border-width*2 $focus $border-style;
    outline-offset: 0;
  }

  &:disabled {
    background-color: shade($background, 5%);
    cursor: not-allowed;
  }

  &::placeholder {
    color: tint($black, 40%);
  }
}

textarea {
  max-width: 100%;
  // resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $baseline / 2;
}

[type="file"] {
  margin-bottom: $baseline;
  width: 100%;
}

select {
  margin-bottom: $baseline;
  width: 100%;
}

[type="checkbox"],
[type="radio"],
[type="file"],
select {
  &:focus {
    outline: $border-width*2 $focus $border-style;
    outline-offset: 0;
  }
}

abbr[title="required"] {
  display: none;
}

label.required:after {
  content: " *"
}

[type="file"], label.file {
  width: auto;

  &:hover {
    cursor: pointer;
  }
}