$font-stack-system: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;

html {
  color: $black;
  font-family: $stack;
  font-size: $body;
  line-height: $baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $baseline;
  margin: 0 0 $baseline;
}

p {
  margin: 0 0 $baseline;
}

a {
  color: $primary;
  text-decoration-skip: ink;
  transition: color $time $curve;

  &:hover {
    color: shade($primary, 25%);
  }

  &:focus {
    outline: $border-width $border-style $focus;
    outline-offset: 0;
  }
}

hr {
  border-bottom: $border-style $border-width $black;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $baseline 0;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

.align_right {
  text-align: right;
}

.dont_break_out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
