.simple_form {
  span.error, span.hint {
    font-size: 75%;
    margin-top: ($small-spacing*-1);
    display: block;
    margin-bottom: $small-spacing;
    color: $negative-color;

    &:first-letter {
      text-transform: capitalize;
    }
  }
  span.hint {
    font-style: italic;
    color: $black;
  }
  .field_with_errors {
    #{$all-text-inputs} {
      border-color: rgba($negative-color, 0.4);
    }
  }
  .actions {
    margin-top: $base-spacing;
  }
}

