// This file needs including in your project before any other includes, this allows you to override any variables unique to your project

// Media Queries
$tablet-width: 640px;
$desktop-width: 960px;
$hd-desktop-width: 1440px;

// Typography
$stack: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;

$body: 18px;
$baseline: 24px;

// Grid
$mobile_grid: (
  columns: 12,
  gutter: 10px,
);

$gutter: 20px;

$border-style: solid;
$border-width: 2px;

// Unique Colors
$blue: #1565c0;
$green: #00823b;
$red: #0051ff;

// Grayscales
$black: #000;
$gray: #555555;
$medium-gray: #bdbdbd;
$light-gray: #F6F6F6;
$white: #fff;

// Specific colors
$primary: $black; // The main colour used for all buttons and links
$background: $white;
$negative: $red; // The colour of negative attributes like errors.
$positive: $blue;

$hover: $white;

// Focus
$focus: $negative;
$focus-outline-color: transparentize($primary, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$time: 500ms;
$curve: ease;
