.accordion {
  .accord-single {
    margin-bottom: 10px;
  }
  .accord-toggle {
    cursor: pointer;
  }
  .accord-cont {
    display: none;
  }
  .accord-cont.default {
    display: block;
  }
  .accord-toggle .fa {
    vertical-align: middle;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }

  &.open {
    .accord-toggle .fa {
      transform: rotate(180deg);
    }
  }
}
