.alert, #alerts {
  background-color: $gray-light;
  color: $white;

  .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #flash_alert, #flash_notice, #flash_success, #flash_error {
    float: left;
    max-width: 95%;
  }
  #alert_close {
    float: right;

    &:hover {
      cursor: pointer;
    }
  }

  &.alert-alert, &.alert-error {
    background-color: $negative;
  }
  &.alert-success {
    background-color: $positive;
  }
  &.alert-notice {
    background-color: rgba($primary, 0.25);
    color: rgba($black, 0.75);
  }
}
