.card {
  background-color: $white;
  padding: $baseline;
  -webkit-box-shadow: 0px 0px 8px 1px rgba($black, 0.05);
  -moz-box-shadow: 0px 0px 8px 1px rgba($black, 0.05);
  box-shadow: 0px 0px 8px 1px rgba($black, 0.05);
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}


.card_table {
  .card {
  }
  .card_th {
    font-weight: bold;
    padding: $baseline;
    padding-bottom: 0;
  }
}
