header.header {
  background: $brand;
  .logo, .title, .admin {
    font-weight: 600;
    display: block;
    margin: $baseline 0;
  }
  .admin {
    text-align: right;
    font-weight: 400;
    a {
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }
}