nav.nav.side {
  margin-top: $baseline*2;
  ul {
    li {
      a {
        font-weight: 600;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        &.current + ul {
          display: block;
        }
      }
      ul {
        margin: 0;
        display: none;
        li {
          margin-left: $gutter*0.5;
          margin-top: $baseline*0.25;
          margin-bottom: $baseline*0.25;
          &.active, &.active a, &:hover {
            color: $active;
          }
          a {
            font-weight: 300;
            &:before {
              content: '– ';
            }
          }
        }
      }
    }
  }
}