html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

section {

}

.container {
  @include grid-container;
  margin: 0 auto;
  padding: $container-padding;

  @include desktop {
    padding: $container-padding * 1.5;
    max-width: $desktop-width;
  }

  @include hd-desktop {
    max-width: $hd-desktop-width - 240px;
  }
}

.full_width {
  @include grid-column(12);
}

.half {
  @include grid-column(6);
}

.third {
  @include grid-column(4);
}

.quarter {
  @include grid-column(3);
}
