html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

section {

}

.hidden {
  display: none;
}

// Base grid framework container style, to create your own just use Neats mixin '@include grid-container'
.container {
  @include grid-container;
  margin: 0 auto;
  padding: $container-padding/2;

  @include desktop {
    padding: $container-padding;
    max-width: $desktop-width + 120;
  }

  @include hd-desktop {
    max-width: $hd-desktop-width - 140;
  }
}

// use inner container when nesting another grid within another grid
.inner_container {
  @include grid-collapse;
  @include grid-container;
}


// Helpers for setting regularly used sizes of grids
.full_width { // 12 column
  @include grid-column(12, $mobile_grid);

  @include desktop {
    @include grid-column(12);
  }
}
.half { // 6 column
  @include grid-column(12, $mobile_grid);

  @include desktop {
    @include grid-column(6);
  }
}
.third { // 4 column
  @include grid-column(12, $mobile_grid);

  @include desktop {
    @include grid-column(4);
  }
}
.quarter { // 3 column
  @include grid-column(12, $mobile_grid);

  @include desktop {
    @include grid-column(3);
  }
}

.align_right {
  text-align: right;
}

.right {
  float: right;
}

// Helpers for hideing element class for media sizings
.no_mobile {
  @include mobile {
    display: none;
  }
}
.no_tablet {
  @include tablet {
    display: none;
  }
}
.no_desktop {
  @include desktop {
    display: none;
  }
}
.no_hd_desktop {
  @include hd-desktop {
    display: none;
  }
}
