table {
  border-collapse: collapse;
  margin: $baseline 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

thead {
  line-height: $baseline;
  vertical-align: bottom;
}

tbody {
  vertical-align: top;
}

tr {
  border-bottom: $border-width $border-style $black;
}

th {
  font-weight: 600;
}

th,
td {
  padding: $baseline $baseline $baseline 0;
}
